<div class="user-details">
  <h1> Featured Projects </h1>
</div>



<div class="user-projects">
  <div class="images-left">
    <img alt="wrting" src="{{ "/assets/img/kaitlyn-baker-vZJdYl5JVXY-unsplash.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right" style="height: 40vh; overflow-y: visible;">
    <h3> Blogs on Medium </h3>
    <p>Medium is a great place to share wisdom.
      Here I will share my article on ML resarch/project practices.</p>
    <p align="center"><a class="project-link" href="https://medium.com/@pankajchauhan9355">Check it out</a></p>   
  </div>
</div> 


<div class="user-projects">
  <div class="images-right">
    <img alt="Viz" src="{{ "/assets/img/StackOverflowViz.gif" | prepend: site.baseurl }}" style="width: 100%;"/>
    <img alt="Vixz" src="{{ "/assets/img/Patient_wait_list.gif" | prepend: site.baseurl }}" style="width: 100%;" />
  </div>
  <div class="contents-left" style="height: 40vh; overflow-y: scroll;">
    <h3>Power BI dashboards</h3>
    <p>Check out some data visualizations and analysis with PowerBI</p>
    <p>Analysis of StackOverflow 2023 Survey. Dive in to discover the latest trends in the tech world, explore the most popular tools used by developers, and get a glimpse into the vibrant and diverse Stack Overflow community. Link to actual survey, and response can be access by clicking RAW data.</p>
    <p align="center">
      <a class="project-link" href="assets/files/StackOverflowViz_merged.pdf">Project Report</a>
      <a class="project-link" href="https://project.novypro.com/Bd9CRM">Interactive Example</a>
      <a class="project-link" href="https://drive.google.com/drive/folders/1-35okCqMD00fb__vzYTbb3lSsc3t6h65?usp=sharing">Raw Data</a>
      <a class="project-link" href="https://youtu.be/FC3q-yfn-O8">Project Video</a>
    </p>

    <p>
      The project aims to analyze hospital waiting list data to understand patient wait times, demand for medical services, and healthcare delivery efficiency. This type of analysis is important for identifying bottlenecks, managing backlogs, and planning resource allocation to improve patient care. </p>
    <p align="center">
      <a class="project-link" href="assets/files/Wait_list_comparison-merged.pdf">Project Report</a>
      <a class="project-link" href="https://project.novypro.com/WJvJBF">Interactive Example</a>
      <a class="project-link" href="https://drive.google.com/drive/folders/18VS1qE4ThaQa-QcyS4HwV3ZELYi04cyA?usp=sharing">Raw Data</a>
      <a class="project-link" href="https://youtu.be/LBxoNnZrUGk">Project Video</a>
    </p>

  </div>
</div>



<div class="user-projects">
  <div class="images-left">
    <img alt="Teaching" src="{{ "assets/img/teacher.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right" style="height: 40vh; overflow-y: scroll;">
    <h3> Teaching Activity </h3>
    <p>As a Teacher, I taught over 200 undergraduate students about the fundamentals of Data Science, Python, SQL, and Machine Learning. </p>
    <h4>Computational Thinking for Data Science with Python </h4>
    <p>This course aims to introduce students to key areas of data science, such as optimization, machine learning, stochastic processes, data extraction, and analysis. It emphasizes the use of computational thinking to create algorithms for these areas and interpret the resulting computational outcomes.</p>
    <p align="center">
      <a class="project-link" href="https://github.com/PC-FSU/ISC_2310--Computational_Thinking_for_Data_Science_with_Python">Course content</a>
      <a class="project-link" href="https://github.com/PC-FSU/ISC_2310--Computational_Thinking_for_Data_Science_with_Python/blob/main/syllabus_2310_fall_2023.pdf">Course syllabus</a>
    </p>
    <h4>Introduction to Scientific Computing</h4>
    <p>This introductory course, offered by the Department of Scientific Computing at Florida State University, teaches Python to undergraduates. It covers Python basics, including loops, lists, functions, and classes. Additionally, it explores popular packages like NumPy, SciPy, Pandas, and Matplotlib, emphasizing Python's role in solving scientific comp problem</p>   
    <p align="center">
      <a class="project-link" href="https://github.com/PC-FSU/ISC_3313">Course content</a>
      <a class="project-link" href="https://github.com/PC-FSU/ISC_3313/blob/main/ISC_3313.pdf">Course syllabus</a>
    </p>
  </div>
</div> 