<div class="user-details">
  <h1> Featured Projects </h1>
</div>



<div class="user-projects">
  <div class="images-left">
    <img alt="wrting" src="{{ "/assets/img/kaitlyn-baker-vZJdYl5JVXY-unsplash.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right" style="height: 50vh; overflow: visible;">
    <h3> Blog on towardsdatascience.com </h3>
    <p>Medium's <i>Towards Data Science</i> is a great place to share wisdom.
      Here I will share my article on ML resarch/project practices.</p>
    <p align="center"><a class="project-link" href="addLink">Check it out</a></p>   
  </div>
</div> 







