<div class="user-details">
  <h1> Featured Projects </h1>
</div>


<div class="user-projects">
  <div class="images-left">
    <img alt="wrting" src="{{ "/assets/img/kaitlyn-baker-vZJdYl5JVXY-unsplash.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Blog on towardsdatascience.com </h3>
    <p>Medium's <i>Towards Data Science</i> is a great place to share wisdom.
      Here I will share my article on ML resarch/project practices.</p>
      <p align="center"><a class="project-link" href="addLink">Check it out</a></p>
  </div>
</div>



<div class="user-projects">
  <div class="images-right">
    <img alt="galaxy" src="{{ "/assets/img/PowerBI.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-left">
    <h3>Power BI dashboards</h3>
    <p>Check out the data visualizations and analysis with PowerBI</p>
      <p align="center"><a class="project-link" href="https://dhaitz.github.io/graph-visualization/#/galaxy/wikipedia?cx=-705&cy=-9206&cz=-9978&lx=0.4772&ly=0.7270&lz=-0.4743&lw=0.1367&ml=450&s=1.75&l=1&v=500_000_links">Check it out</a></p>
  </div>
</div> 





